.banner.profile {
	height: 150px;
	background-color: #A6E8EB;
}

.banner h1 {
	margin: 45px 0;
	font-weight: bolder;
	font-family:Arial Black;
}

.banner.main {
	height: 150px;
	background: url("/static/erol-ahmed-460277-unsplash.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

.top-main {
	padding-top: 30px;
	padding-bottom: 30px;
}

.top-main p {
	margin-bottom: 0;
	line-height: 16px;
}

.top-main a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}

.divider {
	height: 15px;
}

.divider.brown {
	background-color: #996600
}

/* Style the tab */
.tab {
  float: left;
  /* border: 1px solid #ccc; */
  background-color: #f9f5ec; /* #f1f1f1; */
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab a {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab a:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab a.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  /* border: 1px solid #ccc; */
  border: none;
  width: 70%;
  /* border-left: none; */
  height: 300px;
}

.btn-add-item {
    margin: 1em;
    float: right;
}

.tabcontent h4 {
  text-align: center;
  text-decoration: underline;
}

/* Style the buttons inside the tab */
.tabcontent a {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 24px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabcontent a:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tabcontent a.active {
  background-color: #ccc;
}

.flash {
	background-color: #ffd9b3;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;
}
