{% extends "main.html" %}
{% block content %}
  <div class="tab">
    {% for category in categories %}
      <a href = "{{url_for('showCategoryItems', category_name = category.name)}}">{{category.name}}</a>
    {% endfor %}
  </div>

  <div class="tabcontent">
    <button type='button' class='btn btn-default btn-add-item' onClick="window.location='{{url_for('newItem')}}';">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Item</button>
    <h4>{{category_name}} Items ({{items|length}} items)</h4>
    {% for item in items %}
      <a href = "{{url_for('showCategoryItemDescription', category_name = item.category.name, item_name = item.name)}}">
        <p>{{item.name}}</p>
      </a>
    {% endfor %}
  </div>

{% endblock %}
