{% extends "main.html" %}
{% block content %}
  <div class="tab">
    {% for category in categories %}
      <a href = "{{url_for('showCategoryItems', category_name = category.name)}}">{{category.name}}</a>
    {% endfor %}
  </div>

  <div class="tabcontent">
    <a href="{{url_for('newItem')}}">Add Item</a>
    <h4>{{category_name}} Items ({{items|length}} items)</h4>
    {% for item in items %}
      <a href = "{{url_for('showCategoryItemDescription', category_name = item.category.name, item_name = item.name)}}">
        <p>{{item.name}}</p>
      </a>
    {% endfor %}
  </div>

{% endblock %}
